%header
  %h2= "Reports for #{@view_date}"
  %nav
    %ul
      %li
        - if @nav[:prev]
          = link_to @nav[:prev], user_path(username: @view_user.username, year: @nav[:prev].year, month: @nav[:prev].month, day: @nav[:prev].day)
      %li
        - if @nav[:next]
          = link_to @nav[:next], user_path(username: @view_user.username, year: @nav[:next].year, month: @nav[:next].month, day: @nav[:next].day)

%section
  %ul
    - @reports.each do |report|
      - case report._type
        - when 'JawboneUpReport'
          %li= render :partial => 'reports/jawbone', locals: { report: report }
        - when 'FoursquareReport'
          %li= render :partial => 'reports/foursquare', locals: { report: report }
        - when 'StravaReport'
          %li= render :partial => 'reports/strava', locals: { report: report }

%footer
  = form_tag user_refresh_path(id: @view_user.id) do |f|
    = hidden_field_tag :redirect_to, request.fullpath
    %p= submit_tag "Refresh"
